* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

nav,
header,
footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

nav .container {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

nav a {
  text-decoration: none;
  color: #e5e7eb;
}

header .container {
  display: flex;
}