* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

nav,
header,
footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

nav .container {
  display: flex;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

nav a {
  text-decoration: none;
}

nav ul