@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

nav,
header,
footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 16px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

nav .container {
  display: flex;
  justify-content: space-between;
  border: 2px dotted #fff;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

nav a {
  text-decoration: none;
  color: #e5e7eb;
}

header .container {
  display: flex;
  align-items: center;
  margin: 72px auto;
  justify-content: space-between;
  gap: 48px;
  border: 2px dotted #fff;
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hero-img {
  flex: 1;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

header .sign-up {
  align-self: flex-start;
  padding: 6px 36px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  border-style: none;
  font-size: 18px;
  margin-top: 16px;
}

section {
  padding: 24px 0;
}

section.info {
  border: 3px dotted pink;
}

.info .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted #000;
}

h2.information {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.boxes {
  display: flex;
  border: 2px dotted red;
  justify-content: space-between;
  gap: 48px;
  margin: 16px;
  max-width: 750px;
}

.boxes .square {
  border: 4px solid #3882f6;
  border-radius: 10%;
}

.box {
  flex: 1;
}

.text {
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  border: 3px dotted blue;
}

.quote-section .container {
  display: flex;
  justify-content: center;
  border: 3px dotted rgb(6, 255, 243);
}

.sentence {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border: 3px dotted purple;
}

.sentence .author {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  align-self: end;
}